<h1 class="mb-5">Your bookings</h1>

<div class="cards">
    <% @bookings.each do |booking| %>
      <% if booking.motorcycle.photos.empty? %>
       <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "https://res.cloudinary.com/dwxhfawho/image/upload/v1605666098/air-moto/2018_Aprilia_Shiver_900/2018_Aprilia_Shiver_900_1_aiz6s2.jpg", height: 300, width: 400, crop: :fill %>')">
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path booking.motorcycle.photos[0].key, height: 300, width: 400, crop: :fill %>')">
      <% end %>
      <%= booking.motorcycle.year %><br>
      <%= booking.motorcycle.brand %><br>
      <%= booking.motorcycle.model %><br>
      <%= booking.motorcycle.location %><br>
      <%= booking.motorcycle.user.name %><br>
      Status: <%= booking.booked %>
      <%= link_to 'Delete this booking', booking_path(booking), method: :delete, :data => {:confirm => 'Are you sure? '}, class: "btn btn-success"%>
      </div>
      </div>
    <% end %>
</div>
