<p>Your bookings</p>

<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= booking.motorcycle.brand %>
      <%= booking.motorcycle.model %>
      <%= booking.motorcycle.year %>
      <%= booking.motorcycle.location %>
      <%= booking.motorcycle.user.name %>
    </li>
    <%= link_to 'Delete this booking', booking_path(booking), method: :delete %>
  <% end %>
</ul>

