<h1>Your bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= booking.motorcycle.brand %>
      <%= booking.motorcycle.model %>
      <%= booking.motorcycle.year %>
      <%= booking.motorcycle.location %>
      <%= booking.motorcycle.user.name %>
    </li>
  <% end %>
</ul>
