<h1>users page</h1>

<p><%= current_user.email %></p>
<p><%= current_user.name %></p>
<p><%= current_user.drivers_license_number %></p>
<p><%= current_user.address %></p>

<p><%= link_to 'Add motorcycle', new_motorcycle_path %></p>
<p><%= link_to 'Edit profile', edit_user_registration_path %></p>
<p><%= link_to 'See my motorcycle post', show_motorcycle_user_path(current_user.id) %></p>

