<h1>Your users profile</h1>
<div class="main-profil-container d-flex">
  <div class='profil-info-container m-2 p-2 w-50 border border-success'>
    <p>Email: <%= current_user.email %></p>
    <p>Name: <%= current_user.name %></p>
    <p>Driver license number: <%= current_user.drivers_license_number %></p>
    <p>Address :<%= current_user.address %></p>
  </div>
  <div class='profil-info-container m-2 p-2 w-50 border border-success'>
    <p><%= link_to 'Add motorcycle', new_motorcycle_path, class: 'btn btn-success' %></p>
    <p><%= link_to 'Edit profile', edit_user_registration_path, class: 'btn btn-success'  %></p>
    <p><%= link_to 'See my motorcycle post', show_motorcycle_user_path(current_user.id), class: 'btn btn-success'  %></p>
  </div>
</div>

<h1>Your pending booking</h1>
<div class="main-profil-container border">
  <div class="cards">
  <% @booking_pending.each do |booking| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.shopify.com/s/files/1/0742/8739/products/20200114172057_1024x1024.jpg?v=1582479270">
      <%= booking.motorcycle.year %><br>
      <%= booking.motorcycle.brand %><br>
      <%= booking.motorcycle.model %><br>
      <%= booking.motorcycle.location %><br>
      <%= booking.date_start %><br>
      <%= booking.date_end %><br>
      <%= link_to 'Accept', booked_decision_path(current_user, :decision => 'accepted', :booking_id => booking.id),method: :post, class: "btn btn-sm btn-success" %>
      <%= link_to 'Refuse', booked_decision_path(current_user, :decision => 'refused', :booking_id => booking.id),method: :post, class: "btn btn-sm btn-danger" %>
    </div>
  <% end %>
</div>

<h1>Your accepted booking</h1>
<div class="main-profil-container border">
  <div class="cards">
  <% @booking_accepted.each do |booking| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.shopify.com/s/files/1/0742/8739/products/20200114172057_1024x1024.jpg?v=1582479270">
      <%= booking.motorcycle.year %><br>
      <%= booking.motorcycle.brand %><br>
      <%= booking.motorcycle.model %><br>
      <%= booking.motorcycle.location %><br>
      <%= booking.date_start %><br>
      <%= booking.date_end %><br>
      <%= booking.booked %><br>
    </div>
  <% end %>
</div>


