<h1>Your motorcycle post :</h1>

<% @motorcycles_user.each do |motorcycle| %>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.shopify.com/s/files/1/0742/8739/products/20200114172057_1024x1024.jpg?v=1582479270">
      <ul>
        <li><%= motorcycle.brand %></li>
        <li><%= motorcycle.model %></li>
        <li><%= motorcycle.year %></li>
        <li><%= motorcycle.location %></li>
        <%= link_to 'Delete this post', motorcycle_path(motorcycle.id), method: :delete %>
      </ul>
    </div>
  </div>
<% end %>