


<div>
  <h1>All of our motorcycles</h1>
</div>

<p>Choose between <%= Motorcycle.count %> motorcycles.</p>
<div class="cards">
<% @motorcycles.each do |motorcycle| %>
  <% if motorcycle.photos.empty? %>
 <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "https://res.cloudinary.com/dwxhfawho/image/upload/v1605666098/air-moto/2018_Aprilia_Shiver_900/2018_Aprilia_Shiver_900_1_aiz6s2.jpg", height: 300, width: 400, crop: :fill %>')">
 <tr>
    <td><%= motorcycle.brand %></td>
    <td><%= motorcycle.model %></td>
    <td><%= motorcycle.year %></td>
    <br>
    <td><%= motorcycle.location %></td>
    <br>
    <td><%= motorcycle.price %>$/per day</td>
</tr>
<%= link_to 'More info', motorcycle_path(Motorcycle.first), class: "moto-info" %>
</div>
  <% else %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path motorcycle.photos[0].key, height: 300, width: 400, crop: :fill %>')">
  <tr>
    <td><%= motorcycle.brand %></td>
    <td><%= motorcycle.model %></td>
    <td><%= motorcycle.year %></td>
    <br>
    <td><%= motorcycle.location %></td>
    <br>
    <td><%= motorcycle.price %>$/per day</td>
 </tr>
 <%= link_to 'More info', motorcycle_path(Motorcycle.first), class: "moto-info" %>

</div>

  <% end %>
<% end %>
</div>












<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwxhfawho/image/upload/v1605666105/air-moto/2019_Honda_CB1000R/2019_Honda_CB1000R_1_ybhirw.jpg)">
    <%= Motorcycle.first.year %>
    <%= Motorcycle.first.brand %>
    <%= Motorcycle.first.model %>
    <br>
    <%= Motorcycle.first.location %>
    <br>
    $<%= Motorcycle.first.price %>/day
    <%= link_to 'More info', motorcycle_path(Motorcycle.first), class: "moto-info" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwxhfawho/image/upload/v1605666109/air-moto/2019_Yamaha_YZ250/2019_Yamaha_YZ250_1_ud6yut.jpg)">
    <%= Motorcycle.second.year %>
    <%= Motorcycle.second.brand %>
    <%= Motorcycle.second.model %>
    <br>
    <%= Motorcycle.second.location %>
    <br>
    $<%= Motorcycle.second.price %>/day
    <%= link_to 'More info', motorcycle_path(Motorcycle.second), class: "moto-info" %>
  </div>

